.root {
   position: absolute;
   left: 0;
   bottom: 0;

   width: 100%;
   display: flex;
   justify-content: center;

   > * {
      position: relative;
      bottom: -80px;
      width: 160px;

      &:not(:first-child) {
         filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.5));
         margin-left: var(--gap);
      }
   }
}
