.cards_wrapper {
   position: absolute;
   z-index: 20;
   left: 0;
   bottom: 0;

   width: 100%;
}

.root {
   width: 100%;
   max-width: 600px;
   margin: 0 auto;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
   grid-auto-flow: dense;

   padding: 0 60px;

   transition: transform 0.2s ease-out;

   @media (hover: hover) and (pointer: fine) {
      &:hover {
         transform: translateY(-40px) !important;
      }
   }

   > * {
      position: relative;
      bottom: -100px;
      width: clamp(100px, 15vh, 160px);
      grid-row-start: 1;
      justify-self: center;

      animation: card-slide 0.3s ease-out;

      &:not(:first-child) {
         filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.5));
      }

      // @media (hover: hover) and (pointer: fine) {
      //    &:not(:active) {
      //       transition: transform 0.2s ease-out !important;
      //    }
      //    &:hover:not(:active) {
      //       transform: translateY(-40px) !important;
      //    }
      // }
   }
}

@keyframes card-slide {
   0% {
      transform: translateY(100px);
      opacity: 0.2;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}
