.wrapper {
   position: relative;
   z-index: 1;
   padding: 30px 25px;

   display: grid;
   grid-template-columns: repeat(3, 1fr);
   min-height: 300px;
   gap: 12px;

   max-width: 800px;
   width: 100%;

   &.drop {
      border: 2px dashed rgba(255, 255, 255, 0.6);
      border-radius: 8px;
   }

   .slot {
      width: 100%;
      display: flex;
      justify-content: center;

      &.drop {
         border: 2px dashed rgba(255, 255, 255, 0.3);
         border-radius: 8px;
      }

      > * {
         width: 75px;

         transition: transform 1s ease-out !important;
         animation: card-appear 0.25s ease-in-out;

         &:not(:first-child) {
            margin-left: -70px;
            filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.1));
         }
      }
   }
}

@keyframes card-appear {
   0% {
      opacity: 0.2;
      scale: 1.2;
      transform: translateY(-8px);
   }
   100% {
      opacity: 1;
      scale: 1;
      transform: translateY(0);
   }
}
