.deck_wrapper {
   position: absolute;
   top: 0;
   left: 0;

   width: 30px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;

   .trump {
      position: absolute;
      left: -45px;

      transform: rotate(90deg) !important;
      width: 70px;
   }

   .stack {
      position: absolute;
      left: -55px;
      width: 75px;
      z-index: 1;
   }
}
