.card {
   filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.05));
   touch-action: none;
   user-select: none;

   &.draggable {
      transition: filter 0.3s ease, scale 0.2s ease;
      cursor: grab;

      &:active {
         cursor: grabbing;
      }
   }

   &.dragging {
      filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.4));
      scale: 1.1;
   }
}
