.card {
   filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.05));
   touch-action: none;
   user-select: none;
   position: relative;

   aspect-ratio: calc(141.75 / 201.09);

   > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   &.loading {
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 2;
         background-color: rgba(255, 255, 255, 1);
         border-radius: 10px;
         animation: pulse 1.5s infinite;
         visibility: visible;
      }
   }

   &.draggable {
      transition: filter 0.3s ease, scale 0.2s ease;
      cursor: grab;

      &:active {
         cursor: grabbing;
      }
   }

   &.dragging {
      filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.4));
      scale: 1.05;
   }
}

@keyframes pulse {
   0% {
      background-color: #dadada;
   }
   50% {
      background-color: #8f8f8f;
   }
   100% {
      background-color: #dadada;
   }
}
